{% load static %}
<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4">
     <a href=""
        target="_blank"
        class="bg-blue-300 w-64 h-[430px] m-8 static rounded-lg ">
        <div class="flex flex-col bg-white w-64 h-[430px] -m-2 hover:m-0 absolute rounded-lg shadow-lg hover:shadow-2xl transition-all duration-150 ease-out hover:ease-in overflow-hidden ">
            <h1 class="mx-4 mt-4 text-sm font-bold ">Create Rirekisho Online</h1>
            <hr class="mx-4 my-2 rounded-2xl border-t-2">
            <div class="flex flex-col space-y-2 items-center justify-center w-full h-full">
                <span class="text-sm p-1 rounded-md bg-red-300">
                    COMING SOON
                </span>
                <img class=" w-32" src="{% static 'images/projects/rirekisho.png' %}"alt="">
            </div>
            <div class=" w-full bg-[#F0EBFA] mt-4">
                <p class="m-4 text-xs leading-4">
                   Create simple cv (Rirekisho) for apply on your job. "Simple Input"
                </p>
            </div>
        </div>
    </a>

    <a href="https://pajak-hape.project.scale.web.id/"
        target="_blank"
        class="bg-green-300 w-64 h-[430px] m-8 static rounded-lg ">
        <div class="flex flex-col bg-white w-64 h-[430px] hover:-m-2 absolute rounded-lg shadow-lg hover:shadow-2xl transition-all duration-150 ease-out hover:ease-in overflow-hidden">
            <h1 class="mx-4 mt-4 text-sm font-bold">IMEI Tax Calculator</h1>
            <hr class="mx-4 my-2 rounded-2xl border-t-2">
            <div class="flex items-center justify-center w-full h-full">
                <img class=" w-32" src="{% static 'images/projects/calculator.png' %}"alt="">
            </div>
            <div class=" w-full bg-[#F0EBFA] mt-4">
                <p class="m-4 text-xs leading-4">
                Ceck you imei tax for enable simcard in Indonesia
                </p>
            </div>
        </div>
    </a>
    <a href="https://wedding-arahmat.scale.web.id/"
        target="_blank"
        class="bg-red-300 w-64 h-[430px] m-8 static rounded-lg ">
        <div class="flex flex-col bg-white w-64 h-[430px] m-2 hover:m-0 absolute rounded-lg shadow-lg hover:shadow-2xl transition-all duration-150 ease-out hover:ease-in overflow-hidden">
            <h1 class="mx-4 mt-4 text-sm font-bold">Wedding Invitation</h1>
            <hr class="mx-4 my-2 rounded-2xl border-t-2">
            <div class="flex items-center justify-center w-full h-full">
                <img class=" w-32" src="{% static 'images/projects/weeding-mamat.png' %}"alt="">
            </div>
            <div class=" w-full bg-[#F0EBFA] mt-4">
                <p class="m-4 text-xs leading-4">
                    This is job wedding invitation online. "Trending in Indonesia", Recommended for you wedding
                </p>
            </div>
        </div>
    </a>
    <a href="https://pingitan-ulfah.scale.web.id/"
        target="_blank"
        class="bg-yellow-300 w-64 h-[430px] m-8 static rounded-lg ">
        <div class="flex flex-col bg-white w-64 h-[430px] m-2 hover:m-0 absolute rounded-lg shadow-lg hover:shadow-2xl transition-all duration-150 ease-out hover:ease-in overflow-hidden">
            <h1 class="mx-4 mt-4 text-sm font-bold">Party Invitation</h1>
            <hr class="mx-4 my-2 rounded-2xl border-t-2">
            <div class="flex items-center justify-center w-full h-full">
                <img class=" w-32" src="{% static 'images/projects/pingitan-ulfah.png' %}"alt="">
            </div>
            <div class=" w-full bg-[#F0EBFA] mt-4">
                <p class="m-4 text-xs leading-4">
                    This is job party invitation online. "Trending in Indonesia", Recommended for you party
                </p>
            </div>
        </div>
    </a>

</div>