{% load static %}
<div class="flex flex-col justify-center items-center space-y-10 w-full md:w-[1280px]  p-5 py-20 bg-slate-100">
    <div>
        <img class="w-52 md:w-72" src="{% static 'images/scale.webp' %}" type="image/webp" alt="logo scale">
    </div>
    <span class="text-xs md:text-sm font-[Poppins] text-justify inline-block align-top max-w-3xl space-y-2">
        <p class="indent-8">
            I created a web development team to build websites using the latest technology, and I am the leader of the team.
            The name of my team is SCALE. SCALE can be interpreted as growing from Zero to Pro.
        </p>
        <p class="indent-8">
             SCALE has been running for 1 year. It is a private team, and I only invite close friends who are eager to learn about programming developments.
        </p>
        <p class="indent-8">
            Currently, there are 2 members in the team, including a UI/UX designer and a full-stack JavaScript developer. In total, we are a team of 3 people. I am a full-stack Django developer and also hold the position of CEO and Leader.
            Almost every night, the Scale team discusses technological advancements and talks about them via Discord.
        </p>
        <p>
            For more details, check the link below.
        </p>
    </span>
    <a href=""
    target="_blank"
    class="py-2 px-6 rounded-md text-white bg-sky-700 hover:bg-white hover:text-sky-700 hover:shadow-md ransition duration-700 ease-in-out "
    >scale.web.id</a>

</div>