<div class="">
    <div class="flex items-start text-lg font-medium">
        Python
    </div>
    <ul class="flex flex-col space-y-2 text-sm">
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Function 
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                OOP (Object Oriented Programming)
            </span>
        </li>
    </ul>
    <div class="flex items-start text-lg font-medium">
        Back-End
    </div>
    <ul class="flex flex-col space-y-2 text-sm">
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                ORM (Object-Relational Mapping)
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <div class="flex flex-col md:space-x-1 md:flex-row">
                <span>
                    Flow Of Data 
                </span>
                <span>
                    (Forms -> Views -> Database -> and Back)
                </span>
            </div>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Authentication and Authorization
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                REST API
            </span>
        </li>
    </ul>
    <div class="flex items-start text-lg font-medium">
        Frond-End
    </div>
    <ul class="flex flex-col space-y-2 text-sm">
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                HTML
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                CSS
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Tailwind
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Javascript
            </span>
        </li>
    </ul>
    <div class="flex items-start text-lg font-medium">
        Other
    </div>
    <ul class="flex flex-col space-y-2 text-sm">
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                GIT
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Docker
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Integrating with 3rd party APIs
            </span>
        </li>
        <li class="flex items-center space-x-2">
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
            <span>
                Deployment
            </span>
        </li>

    </ul>

</div>  

