<nav class="fixed top-0 flex z-50 justify-between items-center w-full p-3 px-5 md:px-20 font-[Poppins]  bg-white shadow-sm">
    <a class="text-lg font-bold" href="/">
        Wan Azmi
    </a>
    <ul class="flex space-x-5">
        <li class="hidden md:flex">
            <a href="/">Home</a>
        </li>
        <!-- <li class="flex">
            <a href="/">履歴書</a>

        </li> -->
        <li class="hidden md:flex">
            <a href="#projects" data-scroll>Projects</a>
        </li>
        <li class="hidden md:flex">
            <a href="#contact" data-scroll>Contact</a>

        </li>
        

    </ul>
    

</nav>