<div class="container text-xs md:text-sm max-w-md md:max-w-2xl">
  <div class="bar back python " data-skill="Python">
    <span class="counter md:px-2 ">65%</span>
  </div>
  <div class="bar back django" data-skill="Django">
    <span class="counter md:px-2 ">60%</span>
  </div>
  <div class="bar front html" data-skill="HTML">
    <span class="counter md:px-2 ">70%</span>
  </div>
  <div class="bar front tailwind" data-skill="Tailwind">
    <span class="counter md:px-2 ">70%</span>
  </div>
  <div class="bar front css" data-skill="CSS">
    <span class="counter md:px-2 ">40%</span>
  </div>
  <div class="bar front javascript" data-skill="Javascript">
    <span class="counter md:px-2 ">30%</span>
  </div>
  <div class="bar cloud git" data-skill="GIT">
    <span class="counter md:px-2 ">75%</span>
  </div>
</div>


