<div>
    <div class="flex items-center space-x-2 text-xs pb-2 ">
        <div class=" flex items-center space-x-2 relative w-full">
            <div class="group flex items-center">
                <dfn class="absolute -top-5 w-full hidden group-hover:flex border p-2 rounded-lg bg-white shadow-sm">
                    Masukan nama lengkap dengan menggunakan Romaji/Alfabet sesuai yang tertulis di Zairyu-Card
                </dfn>
                <span class="material-symbols-outlined text-sky-400">
                    help
                </span>
            </div>
            <span>
                Tanggl lahir :
            </span>
        </div>
    </div>
    <input type="date" name="{{user.date_of_birth.name}}" value="{{user.date_of_birth.value}}"
    placeholder="WAN AZMI"
    required
    class="text-sm placeholder-gray-500 pl-6 pr-4 rounded-md border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
    >
</div>
<div>
    <div class="flex items-center space-x-2 text-xs pb-2 ">
        <div class=" flex items-center space-x-2 relative w-full">
            <div class="group flex items-center">
                <dfn class="absolute -top-5 w-full hidden group-hover:flex border p-2 rounded-lg bg-white shadow-sm">
                    Masukan nama lengkap dengan menggunakan katakana
                </dfn>
                <span class="material-symbols-outlined text-sky-400">
                    help
                </span>
            </div>
            <span>
            Umur :
            </span>
        </div>
    </div>
    <input type="text" name="{{user.age.name}}" value="{{user.age.value}}"
    placeholder="ワン　アズミ"
    required
    class="text-sm placeholder-gray-500 pl-6 pr-4 rounded-md border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
    >
</div>
<div>
    <div class="flex items-center space-x-2 text-xs pb-2 ">
        <div class="group flex items-center space-x-2 relative w-full">
            <div class="group flex items-center">
                <dfn class="absolute -top-5 w-full hidden group-hover:flex border p-2 rounded-lg bg-white shadow-sm">
                    Masukan email yang dapat dihubungi
                </dfn>
                <span class="material-symbols-outlined text-sky-400">
                    help
                </span>
            </div>

            <span>
            Jenis Kelamain :
            </span>
        </div>
    </div>
    <input type="text" name="{{user.gender.name}}" value="{{user.gender.value}}"
    placeholder="wanamzi@mail.com"
    required
    class="text-sm placeholder-gray-500 pl-6 pr-4 rounded-md border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
    >
</div>