<span class="text-xs md:text-sm font-[Poppins] text-justify inline-block align-top max-w-3xl space-y-2">
    <p class="indent-8">
        I have over 2 years of experience as a Fullstack Web developer using Django to develop web applications.
        I have knowledge of front-end technologies, but I am mainly skilled in developing without using frameworks.
    </p>
    <p class="indent-8">
        I use Python, with django Framework i can create Fullstack web and integrated to Tailwindd CSS for design Front-End 
    </p>
    <p class="indent-8">
        I am an expert in back-end technology using Python and the Django framework to develop web applications. I have extensive experience in designing REST-API, using databases such as MySQL or PostgreSQL, and optimizing the performance of web applications.
    </p>
    <p class="indent-8">
        I have enough groundings at Tailwind CSS to design a web page. I don’t use Bootstrap since it doesn’t let me to design more creatively. I think Tailwind CSS is very good because by using it  I can design as much as I can creatively imagine.
    </p>
    <p class="indent-8">
        At the moment, I am endavouring to polish up my skills on Authentication and Authorization, REST-API, Deployment, Database Design, and Docker.
    </p>

</span>

