    <span class="text-xs md:text-sm font-[Poppins] text-justify inline-block align-top max-w-3xl space-y-2">
        <p class="indent-8">
            Saya memiliki pengalaman lebih dari 2 tahun sebagai Fullstack Web developer menggunakan Django untuk mengembangkan aplikasi web.
            Saya memiliki pengetahuan tentang teknologi front-end, tetapi saya terutama ahli dalam mengembangkan tanpa menggunakan framework.
        </p>
        <p class="indent-8">
            Saya menggunakan bahasa pemograman Python sebagai bahasa utama, dengan menggunakan Framework Django saya bisa membuat website full-stack
            dan mengintegrasikan-nya dengan Tailwind CSS untuk desain Front-end.
        </p>
        <p class="indent-8">
            Saya juga ahli dalam Back-End menggunakan Python/Djanga untuk membuat website, saya memiliki pengalaman di bidang REST-API, menggunakan MYSQL atau PostgreSQL, dan bisa mengoptimalkan performa web
        </p>
        <p class="indent-8">
            Saya cukup memahami Tailwind CSS untuk mendesain halaman website, saya tidak menggunakan Bootstrap, karena Bootstrap
            tidak memberikan kebebasan dalam berimajinasi untuk mendesain, Tailwind CSS sangat bagus karena
            mudah mendesain sesuai apa yang dipikirkan.
        </p>
        <p class="indent-8">
            Untuk sementara ini saya lagi menyempurnakan skill Authentication and Authorization, REST-API, Deployment, Database design, Docker.
        </p>

    </span>

