Hy, saya baru memperdalam ilmu di bidang Full-Stack selama 2 tahun terakhir, untuk membuat website yang tidak terlalu rumit saya membutuhkan waktu 1 minggu.
Untuk penggunaan database yang sederhana dengan CRUD data, saya bisa membuat dalam waktu 1 bulan. Saya bekerja dimalam hari
sebagai part-time job full-stack web development.
<div>
Saya menggunakan bahasa pemograman Python sebagai bahasa utama, dengan menggunakan Framework Django saya bisa membuat website full-stack
yang saya integrasikan dengan Tailwind CSS untuk desain Front-end,
</div>
<div>
    Saya selalu belajar untuk mengembangakn diri agar tidak menyusakan dalam memprogram.
</div>
<div>
    Saya mempunyai kelemahan di Java Script, untuk menutupi kelemahan itu, saya mencari framework yang cocok dan tentunya
    dengan membaca documentasi yang disediakan saya bisa memahaminya, untuk javascript vanila saya hanya bisa memanggil fungsi sederhana
    di tag Html
</div>
<div>
    Saya cukup memahami Tailwind CSS untuk mendesain halaman website, saya tidak menggunakan Bootstrap, karena Bootstrap
    tidak memberikan saya kebebasan dalam berimajinasi untuk mendesain, Tailwind CSS sangat bagus saya gunakan karena
    saya mendesain sesuai apa yang saya pikirkan.  Saya juga memahami Git untuk push dan pull.
</div>
<div>
    Untuk sementara ini saya lagi menyempurnakan skill Authentication and Authorization, REST-API, Deployment, Database design, Docker.

</div>