<span class="text-xs md:text-base font-[Poppins] text-justify inline-block align-top max-w-3xl space-y-2">
    <p class="indent-8">
        私は2年以上のフルスタックWeb開発経験があり、Djangoを使用してWebアプリケーションを開発することができます。フロントエンド技術にも知識がありますが、主にフレームワークを使わずに開発することに熟練しています。
    </p>
    <p class="indent-8">
        私はPythonを使い、Djangoフレームワークを使ってフルスタックのWebアプリケーションを作成することができます。フロントエンドのデザインにはTailwind CSSを統合することができます。
    </p>
    <p class="indent-8">
        私はPythonとDjangoフレームワークを使ったバックエンド技術のエキスパートで、Webアプリケーションを開発することができます。REST-APIの設計や、MySQLやPostgreSQLなどのデータベースの使用、Webアプリケーションのパフォーマンスの最適化に関する豊富な経験があります。
    </p>
    <p class="indent-8">
        私はウェブサイトのページをデザインするためにTailwind CSSを十分に理解しており、Bootstrapを使用しないようにしています。Bootstrapはデザインする上で自由度が制限されるため、想像力を発揮することができないからです。Tailwind CSSは思い通りのデザインを簡単に作成できるため、非常に優れています。
    </p>
    <p class="indent-8">
        現時点では、私は認証と認可、REST-API、デプロイメント、データベースデザイン、Dockerのスキルを向上させています。
    </p>

</span>

