<span class="text-xs md:text-base font-[Poppins] text-justify inline-block align-top max-w-3xl space-y-2">
    <p class="indent-8">
        私は2年以上のフルスタックウェブサイト開発経験があり、Djangoを使用してウェブサイトアプリケーションを開発することができます。フロントエンド技術にも知識がありますが、主にフレームワークを使わずに開発することに熟練しています。
    </p>
    <p class="indent-8">
        私はPythonを使い、Djangoフレームワークを使ってフルスタックのウェブサイトアプリケーションを作成することができます。フロントエンドのデザインにはTailwind CSSを統合することができます。
    </p>
    <p class="indent-8">
        私はPythonとDjangoフレームワークを使ったバックエンド技術のエキスパートで、ウェブサイトアプリケーションを開発することができます。REST-APIの設計や、MySQLやPostgreSQLなどのデータベースの使用、ウェブサイトアプリケーションのパフォーマンスの最適化に関する豊富な経験があります。
    </p>
    <p class="indent-8">
        私は、ウェブサイトのデザインにTailwind CSSを使うために十分な知識を持っています。Bootstrapは創造的にデザインすることができないため、使用していません。Tailwind CSSは、自分が考える限りの創造的なアイデアをデザインすることができるため、非常に優れていると思います。
    </p>
    <p class="indent-8">
        現時点では、私は認証と認可、REST-API、デプロイメント、データベースデザイン、Dockerのスキルを向上させています。
    </p>

</span>

